body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fff9ec;
    transition: .3s;
}

.body-dakr {
    background-color: #cec9c0;
}

.wrapper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    text-align: center;
    font-size: 36px;
    color: #8a2727;
    margin: 25px 0;
}

.input-text {
    height: 180px;
    width: 812px;
    font-size: 16px;
    margin: 0 auto 25px auto;
    padding: 10px;
    background-color: #fefaf0;
    transition: .3s;
}

.input-text-light {
    box-shadow: 3px 3px 5px #918f8a, -3px -3px 5px #918f8a;
}

.keyboard {
    display: block;
    width: 738px;
    height: 250px;
    border: 1px solid;
    border-radius: 5px;
    margin: 0 auto;
    padding-left: 2px;
    background-color: #b1b1b1;
    transition: .5s;
}

.keyboard-light {
    box-shadow: 5px 5px 5px rgb(189, 147, 147), -5px -5px 5px rgb(189, 147, 147);
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
}

.keyboard-row:first-child {
    margin-top: 9px;
}

.OS-desc {
    text-align: center;
    font-size: 20px;
    color: #8a2727;
    margin: 25px 0;
}

.button-light {
    border: 1px solid rgb(189, 147, 147);
    border-radius: 15px;
    height: 40px;
    width: 100px;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    transition: .5s;
}

.button-light:hover {
    cursor: pointer;
    background-color: rgb(189, 147, 147);
}

.btn-active {
    background-color: rgb(189, 147, 147);
}

.hidden {
    display: none;
}

/*keys styles start*/

.key {
    font-weight: 500;
    display: block;
    width: 40px;
    border: 1px solid rgb(30, 30, 30);
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    padding: 0;
    margin-left: 6px;
    color: #fff;
    background-color: rgb(74, 71, 71);
    transition: .3s;
}

.key-light {
    box-shadow: 2px 2px 2px rgb(189, 147, 147), -2px -2px 2px rgb(189, 147, 147);
}

.key:hover {
    cursor: pointer;
    background-color: #9c5e5e;
}

.Tab,
.CapsLock,
.Backspace,
.Delete,
.ShiftLeft,
.ShiftRight,
.ControlLeft,
.ControlRight,
.MetaLeft,
.AltLeft,
.AltRight,
.Enter,
.ArrowUp,
.ArrowDown,
.ArrowLeft,
.ArrowRight {
    background-color: #222222;
}

.active {
    border-radius: 100px;
    border-color: #953e3e;
    background-color: #953e3e;
}

.ArrowLeft,
.ArrowRight {
    font-size: 20px;
}

.Tab {
    width: 50px;
}

.CapsLock {
    width: 90px;
}

.ShiftLeft {
    width: 97px;
}

.ShiftRight {
    width: 93px;
}

.Delete {
    width: 45px;
}

.Backspace {
    width: 103px;
}

.Enter {
    width: 100px;
}

.Space {
    width: 311px;
}

.ControlLeft,
.MetaLeft,
.AltLeft,
.AltRight,
.ControlRight {
    width: 46px;
}
/*keys styles end*/